# changing certificates
certs/key.pem
certs/cert.pem
# Node stuff
node_modules/
data/
dist/
package-lock.json
# fallback for adding custom content
fallback
fallback/
# certbot folder
public/.well-known/
# site settings file
settings.json
# multieditor rep
public/multiedit/
