@charset 'utf-8';
@import './derivations.css';

.logicpenguin {
    counter-reset: probnum;
}

.logicpenguin ol.derivation-calgary-list,
.logicpenguin ol.derivation-cambridge-list {
    list-style-type: none;
    padding-left: 0;
    margin-right: 0;
}

.logicpenguin .derivation-calgary-list li::before
.logicpenguin .derivation-cambridge-list li::before {
    counter-increment: probnum;
    content: "Problem #" counter(probnum);
}

.logicpenguin .sampleproblem .derivation-calgary-list li::before
.logicpenguin .sampleproblem .derivation-cambridge-list li::before {
    counter-increment: probnum;
    content: "";
}

.logicpenguin .fitch-style-derivation {
    vertical-align: text-top;
    margin-top: 1ex;
}

.logicpenguin .fitch-style-derivation .derivationline {
    width: 100%;
}

.logicpenguin .fitch-style-derivation .derivationline input.formulainput {
    width: calc(100% - 1em);
}

.logicpenguin .fitch-style-derivation .derivationcore {
    position: relative;
    margin-left: 2.2em;
    display: inline-block;
    vertical-align: text-top;
    width: 21em;
}

.logicpenguin .fitch-style-derivation .derivationlinenumber {
    color: var(--lpmagenta);
}

/* no decoration around line numbers; hope this isn't a mistake */
.logicpenguin .fitch-style-derivation .derivationlinenumber::before {
    content: '';
}

.logicpenguin .fitch-style-derivation .derivationlinenumber::after {
    content: '';
}

/* TODO: remove padding? */
.logicpenguin .fitch-style-derivation .innersubderiv {
    border-left: 3px dashed var(--lpgray5);
    margin-left: 0.7em;
    margin-right: 0.1em;
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
    padding: 0.5ex;
}

.logicpenguin .fitch-style-derivation sub-derivation.closed > div > .innersubderiv {
    border-left: 3px solid var(--lpgray2);
}

/* always show buttons in main deriv??
.logicpenguin sub-derivation.premiseroot.closed > div > .innersubderiv .subderivbuttons {
        display: block;
}
*/
