@charset 'utf-8';
@import './derivations.css';

.logicpenguin {
    counter-reset: probnum;
}

.logicpenguin ol.derivation-calgary-list,
.logicpenguin ol.derivation-cambridge-list {
    list-style-type: none;
    padding-left: 0;
    margin-right: 0;
}

.logicpenguin .derivation-calgary-list li::before
.logicpenguin .derivation-cambridge-list li::before {
    counter-increment: probnum;
    content: "Problem #" counter(probnum);
}

.logicpenguin .sampleproblem .derivation-calgary-list li::before
.logicpenguin .sampleproblem .derivation-cambridge-list li::before {
    counter-increment: probnum;
    content: "";
}

/* these have wider justifications */
.logicpenguin .fitch-style-derivation .derivationline input.justification {
    width: 7rem;
}

.logicpenguin .fitch-style-derivation {
    vertical-align: text-top;
    margin-top: 1ex;
}

.logicpenguin .fitch-style-derivation .derivationline {
    width: 100%;
    padding-bottom: 2px;
}

.logicpenguin .fitch-style-derivation .derivationline input.formulainput {
    width: calc(100% - 1em);
}

.logicpenguin .fitch-style-derivation .derivationcore {
    position: relative;
    margin-left: 2.2em;
    display: inline-block;
    vertical-align: text-top;
    width: 21em;
}

.logicpenguin .fitch-style-derivation .derivationlinenumber {
    color: var(--lpmagenta);
}

/* no decoration around line numbers; hope this isn't a mistake */
.logicpenguin .fitch-style-derivation .derivationlinenumber::before {
    content: '';
}

.logicpenguin .fitch-style-derivation .derivationlinenumber::after {
    content: '';
}

/* TODO: remove padding? */
.logicpenguin .fitch-style-derivation .innersubderiv {
    border-left: 3px dashed var(--lpgray5);
    margin-left: 1.1em;
    margin-right: 0.1em;
    margin-top: 0.6em;
    margin-bottom: 0.5ex;
}

.logicpenguin .fitch-style-derivation sub-derivation.closed > div > .innersubderiv {
    border-left: 3px solid var(--lpgray2);
}

.logicpenguin .fitch-style-derivation sub-derivation .derivationline .jbwrap {
    padding-bottom: 2px;
}

.logicpenguin .fitch-style-derivation sub-derivation .derivationline .jbwrap.premisejwrap {
    display: none !important;
}

.logicpenguin .fitch-style-derivation sub-derivation + sub-derivation .outersubderiv {
   padding-top: 0.5rem;
}

.logicpenguin .fitch-style-derivation .derivationline .bottombar,
.logicpenguin .fitch-style-derivation .derivationline .bottombar {
    display: none;
}

.logicpenguin .fitch-style-derivation .derivationline.lastpremise .bottombar,
.logicpenguin .fitch-style-derivation .derivationline.hypothesis .bottombar {
    position: relative;
    display: inline-block;
}

.logicpenguin .fitch-style-derivation .derivationline.lastpremise .bottombar::before,
.logicpenguin .fitch-style-derivation .derivationline.hypothesis .bottombar::before {
    position: absolute;
    left: 0;
    top: 10px;
    width: 9rem;
    content: "";
    border-bottom: 3px dashed var(--lpgray5);
}

.logicpenguin .fitch-style-derivation sub-derivation.closed > div > .innersubderiv > .derivationline.lastpremise .bottombar::before,
.logicpenguin .fitch-style-derivation sub-derivation.closed > div > .innersubderiv > .derivationline.hypothesis .bottombar::before {
    border-bottom: 3px solid var(--lpgray2);
}

.logicpenguin .fitch-style-derivation sub-derivation .derivationline.premiseline input.formulainput:hover,
.logicpenguin .fitch-style-derivation sub-derivation .derivationline.hypothesis input.formulainput:hover,
.logicpenguin .fitch-style-derivation sub-derivation .derivationline.premiseline input.formulainput,
.logicpenguin .fitch-style-derivation sub-derivation .derivationline.hypothesis input.formulainput {
    border-bottom: 2px solid transparent;
}

.logicpenguin .fitch-style-derivation sub-derivation .derivationline.premiseline input.formulainput:focus:hover,
.logicpenguin .fitch-style-derivation sub-derivation .derivationline.hypothesis input.formulainput:focus:hover,
.logicpenguin .fitch-style-derivation sub-derivation .derivationline.premiseline input.formulainput:focus,
.logicpenguin .fitch-style-derivation sub-derivation .derivationline.hypothesis input.formulainput:focus {
        border-bottom: 2px solid var(--lpblue);
}

.logicpenguin .fitch-style-derivation sub-derivation .subderivbuttons {
    margin-top: 1ex;
    margin-left: 1rem;
}

.logicpenguin.rulepanel table.ruleclicktable tbody td.ruleselect {
    width: 2.7rem;
}

.logicpenguin.rulepanel .ruleclicktable > thead > tr > th.omnicell {
    padding-bottom: 1ex;
}

.logicpenguin.rulepanel table.ruledisplayinnertable.fitchstyle .ruledisplay > div {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    padding-top: 1ex;
    font-weight: normal;
}

.logicpenguin.rulepanel table.ruledisplayinnertable.fitchstyle .ruledisplay > div .ruledisplayform {
    margin-top: 0;
    margin-right: 1rem;
    margin-left: 1rem;
    text-align: left;
}

.logicpenguin.rulepanel table.ruledisplayinnertable.fitchstyle .ruledisplayform {
    margin-top: 1ex;
    margin-right: 0;
}

.logicpenguin.rulepanel table.ruledisplayinnertable.fitchstyle {
    width: 100%;
}

.logicpenguin.rulepanel table.ruledisplayinnertable.fitchstyle > tbody > td {
    vertical-align: middle;
    text-align: center;
}

.logicpanel.rulepanel table.ruledisplayinnertable.fitchstyle > tbody > tr > td:first-child {
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
}

.logicpanel.rulepanel table.ruledisplayinnertable.fitchstyle > tbody > tr > td:last-child {
    font-weight: normal;
    white-space: nowrap;
    text-align: center;
}

.logicpenguin.rulepanel .fitchstyle div.ruledisplayform div.rulerestriction {
    white-space: normal;
    max-width: 16em;
}

.logicpenguin.rulepanel .fitchstyle div.ruledisplayform table {
    border-collapse: collapse;
    border-spacing: 0;
}

.logicpenguin.rulepanel .fitchstyle div.ruledisplayform table td {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
}

.logicpenguin.rulepanel .fitchstyle div.ruledisplayform table td:first-child {
    border-right: 2px solid var(--lpgray2);
    font-style: italic;
}

.logicpenguin.rulepanel .fitchstyle div.ruledisplayform table tr.spacerrow td {
    height: 0.7rem;
}

.logicpenguin.rulepanel .fitchstyle div.ruledisplayform table td.subderivhyp {
    border-left: 2px solid var(--lpgray2);
    border-bottom: 2px solid var(--lpgray2);
}

.logicpenguin.rulepanel .fitchstyle div.ruledisplayform table td.subderivtarget {
    border-left: 2px solid var(--lpgray2);
}
