@charset 'utf-8';

.logicpenguin #contexttitle {
    display: none;
}

.logicpenguin #messagearea {
    display: none;
    margin-bottom: 1rem;
    border: 3px solid transparent;
    padding: 0.5rem;
}

.logicpenguin #messagearea .material-symbols-outlined {
    position: relative;
    top: 0.3rem;
    margin-right: 0.5rem;
}

.logicpenguin #messagearea.info {
    border: 3px solid var(--lpcyan);
}

.logicpenguin #messagearea.info .material-symbols-outlined {
    color: var(--lpblue);
}

.logicpenguin #messagearea.loading {
    border: 3px solid transparent;
}

.logicpenguin #messagearea.loading .material-symbols-outlined {
    color: var(--lpmagenta);
}

.logicpenguin #messagearea.error {
    border: 3px solid var(--lpred);
}

.logicpenguin #messagearea.error .material-symbols-outlined {
    color: var(--lpred);
}

.logicpenguin #messagearea.error .errortitle {
    color: var(--lpred);
    font-weight: bold;
}

.logicpenguin footer {
    margin: 1rem 0 0 0;
    border-top: 1px solid var(--lpgray5);
}

.logicpenguin footer > p {
    margin: 0.2rem 0 0 0;
}

.logicpenguin nav {
    margin-bottom: 1rem;
}

.logicpenguin nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.logicpenguin nav ul li {
    display: inline-block;
}

.logicpenguin nav ul li a,
.logicpenguin nav ul li a:link,
.logicpenguin nav ul li a:visited {
    padding: 0.7rem 0.9rem 0.7rem 0.9rem;
    display: inline-block;
    text-decoration: none;
    background-color: var(--lpblue);
    color: var(--lpgray6);
    border-radius: 6px;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    border: 2px solid transparent;
}

.logicpenguin nav ul li a:hover,
.logicpenguin nav ul li a:link:hover,
.logicpenguin nav ul li a:visited:hover {
    background-color: var(--lpcyan);
    color: var(--lpwhite);
}

.logicpenguin nav ul li a.current,
.logicpenguin nav ul li a.current:link,
.logicpenguin nav ul li a.current:visited,
.logicpenguin nav ul li a.current:hover,
.logicpenguin nav ul li a.current:link:hover,
.logicpenguin nav ul li a.current:visited:hover {
    background-color: var(--lpwhite);
    color: var(--lpblue);
    border: 2px solid var(--lpblue);
    cursor: default;
}

.logicpenguin main div.mainarea {
    display: none;
}

.logicpenguin main input {
    font-size: inherit;
    padding: 4px;
    width: 22em;
    border: 2px solid var(--lpgray4);
    outline: 1px solid transparent;
}

.logicpenguin main input:focus {
    border: 2px solid var(--lpblue);
    outline: 1px solid var(--lpblue);
    background-color: var(--lpbgblue);
}

.logicpenguin main select {
    font-size: inherit;
    padding: 4px;
    width: 22em;
    border: 2px solid var(--lpgray4);
    outline: 1px solid transparent;
    background-color: var(--lpwhite);
    box-sizing: content-box;
}

.logicpenguin main select.invalid {
    border: 2px solid var(--lpred);
    outline: 1px solid var(--lpred);
    background-color: var(--lpbgred);
}

.logicpenguin main select,
.logicpenguin main select.symbolic {
    color: inherit;
}

.logicpenguin main #settingsmain table {
    border-spacing: 0;
    border-collapse: collapse;
}

.logicpenguin main #settingsmain table td {
    vertical-align: text-bottom;
    padding-bottom: 0.5rem;
}

.logicpenguin main #settingsmain table td:first-child {
    text-align: right;
    padding-right: 0.5rem;
}

.logicpenguin main #settingsmain table tfoot td:first-child {
    padding-right: 0;
}

.logicpenguin main #settingsmain table tfoot td:first-child button {
    margin-right: 0;
}

.logicpenguin main #settingsmain table tfoot td:first-child button .material-symbols-outlined {
    position: relative;
    top: 0.3rem;
}

.logicpenguin main #studentsmain table.studentstable {
    border-spacing: 0;
    border-collapse: collapse;
}

.logicpenguin main #studentsmain table.studentstable th {
    font-weight: normal;
    color: var(--lpgreen);
    text-align: center;
    padding: 0.2rem 0.4rem 0.2rem 0;
}

.logicpenguin main #studentsmain table.studentstable thead th {
    border-bottom: 1px solid var(--lpmagenta);
}

.logicpenguin main #studentsmain table.studentstable tfoot th {
    border-top: 1px solid var(--lpmagenta);
}

.logicpenguin main #studentsmain table.studentstable thead th:first-child {
    border-bottom: none;
}

.logicpenguin main #studentsmain table.studentstable tfoot th:first-child {
    border-top: none;
}

.logicpenguin main #studentsmain table.studentstable tbody td {
    text-align: right;
    padding: 0.2rem 0.4rem 0.2rem 0;
}

.logicpenguin main #studentsmain table.studentstable tbody td div.studenttablescore {
    user-select: none;
    cursor: pointer;
}

.logicpenguin main #studentsmain table.studentstable tbody td div.studenttablescore.overridden {
    color: var(--lpred);
}

.logicpenguin main #studentsmain table.studentstable tbody td div.studenttablescore.disabled {
    cursor: default;
}

.logicpenguin main #studentsmain table.studentstable tbody td:first-child {
    padding-left: 0;
}

.logicpenguin main #studentsmain table.studentstable tbody td:first-child a,
.logicpenguin main #studentsmain table.studentstable tbody td:first-child a:link,
.logicpenguin main #studentsmain table.studentstable tbody td:first-child a:visited {
    text-decoration: none;
}

.logicpenguin main #studentsmain table.studentstable tbody tr:nth-child(2n) td {
    background-color: var(--lpbggreen);
}

.logicpenguin main #studentsmain table.studentstable tbody tr:nth-child(2n) td:first-child {
    background-color: inherit;
}

.logicpenguin main #studentsmain table.studentstable tbody tr.nonstudent td:first-child,
.logicpenguin main #studentsmain table.studentstable tbody tr.nonstudent td,
.logicpenguin main #studentsmain table.studentstable tbody tr.nonstudent:nth-child(2n) td:first-child,
.logicpenguin main #studentsmain table.studentstable tbody tr.nonstudent:nth-child(2n) td {
    background-color: var(--lpbgmagenta);
}

.logicpenguin main #studentsmain table.studentstable tbody td span.material-symbols-outlined {
    font-size: 80%;
}

.logicpenguin main #studentsmain table.studentstable tbody td div.cellbuttons {
    color: var(--lpgray3);
}

.logicpenguin main #studentsmain table.studentstable tbody td div.cellbuttons a span.material-symbols-outlined,
.logicpenguin main #studentsmain table.studentstable tbody td div.cellbuttons a {
    color: var(--lpblue);
    cursor: pointer;
}

.logicpenguin main #studentsmain table.studentstable tbody td div.cellbuttons a:hover span.material-symbols-outlined,
.logicpenguin main #studentsmain table.studentstable tbody td div.cellbuttons a:hover {
    color: var(--lpcyan);
}

.logicpenguin main #studentsmain table.studentstable tbody td div.cellbuttons span.extensionbutton span.material-symbols-outlined,
.logicpenguin main #studentsmain table.studentstable tbody td div.cellbuttons span.extensionbutton {
    cursor: pointer;
}

.logicpenguin main #studentsmain table.studentstable tbody td div.cellbuttons span.extensionbutton.activeextension:hover,
.logicpenguin main #studentsmain table.studentstable tbody td div.cellbuttons span.extensionbutton:hover {
    color: var(--lpcyan);
}

.logicpenguin main #studentsmain table.studentstable tbody td div.cellbuttons span.extensionbutton.activeextension {
    color: var(--lpyellow);
}

.logicpenguin dialog {
    border-radius: 1rem;
    border: 2px solid var(--lpmagenta);
    padding: 0.5rem 2rem 1rem 2rem;
}

.logicpenguin dialog .closebutton {
    display: inline-block;
    color: var(--lpblack);
    cursor: pointer;
    float: right;
}

.logicpenguin dialog .closebutton .material-symbols-outlined {
    cursor: pointer;
}

.logicpenguin dialog .closebutton:hover {
    color: var(--lpred);
}

.logicpenguin dialog div.header {
    color: var(--lpmagenta);
    margin-bottom: 1rem;
}

.logicpenguin dialog div.header,
.logicpenguin dialog div.footer {
    white-space: nowrap;
}

.logicpenguin dialog div.footer {
    margin: 1rem 0 0 0;
    border-top: none;
    text-align: right;
}

.logicpenguin dialog div.footer button {
    margin: 0 0 0 1rem;
}

.logicpenguin dialog div.footer button .material-symbols-outlined {
    position: relative;
    top: 0.3rem;
}

.logicpenguin dialog div.overridescoreholder,
.logicpenguin dialog div.datetimeinputholder {
    margin: 0.5rem 0 0.5rem 0;
}

.logicpenguin dialog input[type="datetime-local"] {
    font-size: 125%;
    padding: 0.3rem;
    font-family: inherit;
}

.logicpenguin dialog input[type="number"] {
    font-size: 125%;
    padding: 0.3rem;
    font-family: inherit;
    width: 5rem;
    margin-right: 0.2rem;
}

.logicpenguin ul.allexerciselist {
    list-style-type: none;
    padding: 0;
}

.logicpenguin ul.allexerciselist li > div {
    border: 2px solid var(--lpgray4);
    margin-bottom: 2.5rem;
    box-shadow: 5px 5px 5px var(--lpgray5);
}

.logicpenguin ul.allexerciselist li .material-symbols-outlined {
    position: relative;
    top: 0.3rem;
}

.logicpenguin ul.allexerciselist li div.exnumtitle {
    background-color: var(--lpbgcyan);
    color: var(--lpblue);
    font-weight: bold;
    padding: 1rem 2rem 0.5rem 2rem;
}

.logicpenguin ul.allexerciselist li div.exinfo {
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.logicpenguin ul.allexerciselist li div.exinfo div.exinfopart {
    display: inline-block;
    color: var(--lpgreen);
    margin-right: 1rem;
}

.logicpenguin ul.allexerciselist li div.exinfo div.exinfopart span:first-child {
    color: var(--lpmagenta);
}


