@charset 'utf-8';

.logicpenguin.sampler > div:first-child {
    vertical-align: top;
}

.logicpenguin.sampler > div:first-child > div {
    display: inline-block;
    margin-right: 2rem;
    vertical-align: top;
}

.logicpenguin.sampler div.symbolicargumentinput input.formulainput {
    width: 12rem;
    margin-bottom: 0.3rem;
}
.logicpenguin.sampler div.symbolicargumentinput input.formulainput.error {
    background-color: var(--lpbgred);
}
